<div class="container">
<div class="row  main">
  <form name="form" (ngSubmit)="saveClient(forma)" #forma="ngForm" novalidate class="col s12 offset-m2 offset-l2 m8 l8 blue lighten-5">
    <h5 class="s12 m12 l12">Registrar nuevo cliente</h5>
    <div class="row">

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': name.errors?.required && name.touched}">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" name="name" ngModel #name="ngModel" type="text" class="validate" minlength="3" required>
        <label for="name">Nombre del cliente</label>
        <p *ngIf="name.errors?.required&&name.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="name.errors?.minlength&&name.touched">
          Por lo menos escriba {{name.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': lastname.errors?.required && lastname.touched}">
        <i class="material-icons prefix">account_circle</i>
        <input id="lastname" name="lastname" ngModel #lastname="ngModel" type="text" class="validate" minlength="3" required>
        <label for="lastname">Apellido del cliente</label>
        <p *ngIf="lastname.errors?.required&&lastname.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="lastname.errors?.minlength&&lastname.touched">
          Por lo menos escriba {{lastname.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': address.errors?.required && address.touched}">
        <i class="material-icons prefix">location_city</i>
        <input id="address" name="address" ngModel #address="ngModel" type="text" class="validate" minlength="5" required>
        <label for="address">Dirección del cliente</label>
        <p *ngIf="address.errors?.required&&address.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="address.errors?.minlength&&address.touched">
          Por lo menos escriba {{address.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': email.errors?.required && email.touched}">
        <i class="material-icons prefix">email</i>
        <input id="email" name="email" ngModel #email="ngModel" type="text" class="validate" minlength="5" required>
        <label for="email">Correo electrónico</label>
        <p *ngIf="email.errors?.required&&email.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="email.errors?.minlength&&email.touched">
          Por lo menos escriba {{email.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': username.errors?.required && username.touched}">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="username" name="username" ngModel #username="ngModel" type="text" class="validate" minlength="6" required>
        <label for="username">Username</label>
        <p *ngIf="username.errors?.required&&username.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="username.errors?.minlength&&username.touched">
          Por lo menos escriba {{username.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': password.errors?.required && password.touched}">
        <i class="material-icons prefix">font_download</i>
        <input id="password" name="password" ngModel #password="ngModel" type="password" class="validate" minlength="6" required>
        <label for="password">Contraseña</label>
        <p *ngIf="password.errors?.required&&password.touched">
          *Este campo es requerido.
        </p>
        <p *ngIf="password.errors?.minlength&&password.touched">
          Por lo menos escriba {{password.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': clientType.errors?.required && clientType.touched}">
        <select materialize="material_select" [materializeSelectOptions]="options" name="clientType" ngModel required #clientType="ngModel">
          <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
          <option class="blue-text text-darken-4" value="1">Tipo 1</option>
          <option class="blue-text text-darken-4" value="2">Tipo 2</option>
          <option class="blue-text text-darken-4" value="3">Tipo 3</option>
        </select>
        <label>Tipo de cliente</label>
      </div>

      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 center-align">
        <button [disabled]="loading" class="btn waves-effect waves-light blue accent-3">Guardar</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    </div>
  </form>
</div>
</div>
