nav{
  background-color: #f44336;
  color: #FFFFFF;
  --font-size:
}

#logo-l{

}

.navImgae
{

  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
  padding-bottom: 5%;
}

#links-l {
  margin-right: 2%;
}

i.icon-blue {
    color: #64b5f6;
}
