<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['home']" class="brand-logo" id="logo-l">Envíos </a>
    <a (click)="openSideNav()" materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" id="links-l">
      <li><a routerLink="active" [routerLink]="['home']">Inicio</a></li>
      <li><a routerLink="active" [routerLink]="['quotation']">Cotizaciones</a></li>
      <li><a routerLink="active" [routerLink]="['add-client']">Agregar cliente</a></li>
      <li><a routerLink="active" [routerLink]="['add-parcel-to-client']">Agregar paquetería a cliente</a></li>
      <li><a routerLink="active" [routerLink]="['google-maps']">Google Maps</a></li>
      <li *ngIf="this.clientService.isAuthenticated()"><a (click)="logOut()">Cerrar sesión</a></li>
    </ul>
    <ul materialize="sideNav" class="side-nav" id="mobile-demo">
      <li><a (click)="goHome()"><i class="material-icons icon-blue">home</i>Inicio</a></li>
      <li><a (click)="goQuotation()"><i class="material-icons icon-blue">attach_money</i>Cotizaciones</a></li>
      <li><a (click)="goGoogleMaps()"><i class="material-icons icon-blue">map</i>Google Maps</a></li>
      <li><a (click)="goAddClient()"><i class="material-icons icon-blue">account_circle</i>Agregar cliente</a></li>
      <li><a (click)="goAddParcelClient()"><i class="material-icons icon-blue">create</i>Asignar paqueterías</a></li>
      <li *ngIf="this.clientService.isAuthenticated()"><a (click)="logOut()"><i class="material-icons icon-blue">exit_to_app</i>Cerrar sesión</a></li>
    </ul>
  </div>
</nav>
<ul materialize="dropdown" id="dropdown1" class="dropdown-content">
  <li><a href="#!">Crear</a></li>
  <li><a href="#!">Modificar</a></li>
  <li class="divider"></li>
  <li><a href="#!">Eliminar</a></li>
</ul>
