<div class="row blue accent-1 main">
  <form class="col s12 offset-m4 offset-l4 m4 l4 blue lighten-5">
    <h5 class="s12 m12 l12">Inicio de sesión</h5>
    <div class="row">
      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" type="text" class="validate">
        <label for="username">Usuario</label>
      </div>
      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <i class="material-icons prefix">local_post_office</i>
        <input id="password" type="password" class="validate">
        <label for="password">Contraseña</label>
      </div>
      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 right-align">
        <button click class="btn waves-effect waves-light blue accent-3" name="action">Iniciar sesión
        </button>
      </div>
    </div>
  </form>
</div>
