
<div class="row  main">
  <form name="form" (ngSubmit)="login(forma)" #forma="ngForm" novalidate class="col s10 offset-s1 offset-m4 offset-l4 m4 l4 blue lighten-5">
    <h5 class=" s8 m10 l10 offset-s2 offset-m1 offset-l1">Inicio de sesión</h5>
    <div class="row">
      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': username.errors?.required && username.touched}">
        <i class="material-icons prefix">account_circle</i>
        <input id="username" name="username" ngModel #username="ngModel" type="text" class="validate" minlength="6" required>
        <label for="username">Usuario</label>
        <p class="red-text text-darken-4" *ngIf="username.errors?.required&&username.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="username.errors?.minlength&&username.touched">
          Por lo menos escriba {{username.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': password.errors?.required && password.touched}">
        <i class="material-icons prefix">font_download</i>
        <input id="password" name="password" ngModel #password="ngModel" type="password" class="validate" minlength="4" required>
        <label for="password">Contraseña</label>
        <p class="red-text text-darken-4" *ngIf="password.errors?.required&&password.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="password.errors?.minlength&&password.touched">
          Por lo menos escriba {{password.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngIf="invalidForm">
        <p class="red-text text-darken-4">
          Error en el formulario falta llenar alguno de los campos.
        </p>
      </div>

      <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngIf="petitionError">
        <p class="red-text text-darken-4">
          Error! Los datos registrados son erróneos.
        </p>
      </div>


      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 center-align">
        <button [disabled]="loading" class="btn waves-effect  blue accent-3">Iniciar sesión</button>
      </div>

    </div>
  </form>
</div>
