<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row container">
    <form name="form" (ngSubmit)="addQuotation(forma)" #forma="ngForm" novalidate class="col s12 m12 l12 blue lighten-5">
      <h5 *ngIf="this.numberGuidesPaquete >= 0 || this.numberGuidesFedEx >= 0 || this.numberGuidesRedPack >= 0" class="blue lighten-2 s12 m12 l12">Guías prepagadas</h5>
      <div class="row">
        <p class="col s12 m4 l4" *ngIf="this.numberGuidesPaquete >= 0">Guias Paquetexpress: {{this.numberGuidesPaquete}}</p>
        <p class="col s12 m4 l4" *ngIf="this.numberGuidesFedEx >= 0">Guias FedEx: {{this.numberGuidesFedEx}}</p>
        <p class="col s12 m4 l4" *ngIf="this.numberGuidesRedPack >= 0">Guias RedPack: {{this.numberGuidesRedPack}} </p>
      </div>

      <h5 *ngIf="this.userArray.length > 0" class="blue lighten-2 s12 m12 l12">Autollenado</h5>

      <div *ngIf="this.userArray.length > 0 && this.dataUser" class="row">
        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': userData.errors?.required && userData.touched}">
          <i class="material-icons prefix">account_circle</i>
          <input (blur)="selectedClient($event.target.value)" id="userData" name="userData" ngModel #userData="ngModel" type="text" class="validate autocomplete" minlength="1">
          <label for="userData">Nombre del cliente</label>
        </div>
      </div>

      <h5 class="blue lighten-2 s12 m12 l12">Recorrido</h5>

      <div class="row">
        <div class="col s12 m6 l6">
          <div *ngIf="!cpChange">
            <div class="input-field col s12 m12 l12" [ngClass]="{'has-danger': postal_code_origin.errors?.required && postal_code_origin.touched}">
              <i class="material-icons prefix">local_post_office</i>
              <input id="postal_code_origin"  (blur)="checkIfCPExist($event.target.value)" (change)="checkIfCPExist($event.target.value)" name="postal_code_origin" type="number" placeholder="{{this.createGuideService.userActual.zip}}" value="{{this.createGuideService.userActual.zip}}" [ngModel]="this.createGuideService.userActual.zip" #postal_code_origin="ngModel" class="validate" required>
              <label class="active" for="postal_code_origin">C.P. Origen</label>
              <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.required&&postal_code_origin.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.minlength&&postal_code_origin.touched">
                Por lo menos escriba {{postal_code_origin.errors.minlength.requiredLength}} caracteres.
              </p>
            </div>

            <div class="input-field col s12 m12 l12" [ngClass]="{'has-danger': origin_city.errors?.required && origin_city.touched}">
              <i class="material-icons prefix">location_city</i>
              <input id="origin_city" name="origin_city" ngControl="origin_city" type="text" placeholder="{{this.createGuideService.userActual.city}}" value="{{this.createGuideService.userActual.city}}" [ngModel]="this.createGuideService.userActual.city" #origin_city="ngModel" class="validate" minlength="3" required>
              <label class="active" for="origin_city">Municipio origen</label>
              <p class="red-text text-darken-4" *ngIf="origin_city.errors?.required&&origin_city.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="origin_city.errors?.minlength&&origin_city.touched">
                Por lo menos escriba {{origin_city.errors.minlength.requiredLength}} caracteres.
              </p>
            </div>
          </div>

          <div *ngIf="cpChange">
            <p class="red-text text-darken-4" *ngIf="this.noCPOrigin">
              Ese código postal no esta en nuestra base de datos, si desea continuar llene el resto de campos
            </p>

            <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger':postal_code_origin.errors?.required && postal_code_origin.touched}">
              <i class="material-icons prefix">local_post_office</i>
              <input (click)="setArrayEmptyDest()" placeholder="{{this.responseCPOrigin.postalCode}}" value="{{this.responseCPOrigin.postalCode}}" [ngModel]="this.responseCPOrigin.postalCode" (blur)="loseFocusOrigin($event.target.value)" (change)="checkOriginCP($event.target.value)" id="postal_code_origin" name="postal_code_origin" type="number" ngModel #postal_code_origin="ngModel" class="validate" maxlength="8" required>
              <label class="active" for="postal_code_origin">C.P. Origen</label>
              <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.required && postal_code_origin.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.minlength && postal_code_origin.touched">
                Por lo menos escriba {{postal_code_origin.errors.minlength.requiredLength}} caracteres.
              </p>
            </div>

            <div *ngIf="this.responseCPOrigin.colonies.length > 0" class="input-field col s12 m6 l6">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="origin_state" name="origin_state" type="text" placeholder="{{this.responseCPOrigin.state}}" value="{{this.responseCPOrigin.state}}" [ngModel]="this.responseCPOrigin.state" #origin_state="ngModel">
              <label for="origin_state">Estado origen</label>
            </div>

            <div *ngIf="this.noCPOrigin" class="input-field col s12 m6 l6" [ngClass]="{'has-danger': origin_state.errors?.required && origin_state.touched}">
              <select materialize="material_select" [materializeSelectOptions]="options" name="origin_state" ngModel required #origin_state="ngModel">
                <option class="blue-text text-darken-4" value="" disabled selected>Seleccione uno</option>
                <option class="blue-text text-darken-4" value="Aguascalientes">Aguascalientes</option>
                <option class="blue-text text-darken-4" value="Baja California">Baja California Norte</option>
                <option class="blue-text text-darken-4" value="Baja California Sur">Baja California Sur</option>
                <option class="blue-text text-darken-4" value="Campeche">Campeche</option>
                <option class="blue-text text-darken-4" value="Chiapas">Chiapas</option>
                <option class="blue-text text-darken-4" value="Chihuahua">Chihuahua</option>
                <option class="blue-text text-darken-4" value="Coahuila de Zaragoza">Coahuila</option>
                <option class="blue-text text-darken-4" value="Colima">Colima</option>
                <option class="blue-text text-darken-4" value="Ciudad de México">Ciudad de México</option>
                <option class="blue-text text-darken-4" value="Durango">Durango</option>
                <option class="blue-text text-darken-4" value="Guanajuato">Guanajuato</option>
                <option class="blue-text text-darken-4" value="Guerrero">Guerrero</option>
                <option class="blue-text text-darken-4" value="Hidalgo">Hidalgo</option>
                <option class="blue-text text-darken-4" value="Jalisco">Jalisco</option>
                <option class="blue-text text-darken-4" value="México">Mexico</option>
                <option class="blue-text text-darken-4" value="Michoacán de Ocampo">Michoacán</option>
                <option class="blue-text text-darken-4" value="Morelos">Morelos</option>
                <option class="blue-text text-darken-4" value="Nayarit">Nayarit</option>
                <option class="blue-text text-darken-4" value="Nuevo León">Nuevo Leon</option>
                <option class="blue-text text-darken-4" value="Oaxaca">Oaxaca</option>
                <option class="blue-text text-darken-4" value="Puebla">Puebla</option>
                <option class="blue-text text-darken-4" value="Querétaro">Queretaro</option>
                <option class="blue-text text-darken-4" value="Quintana Roo">Quintana Roo</option>
                <option class="blue-text text-darken-4" value="San Luis Potosí">San Luis Potosi</option>
                <option class="blue-text text-darken-4" value="Sinaloa">Sinaloa</option>
                <option class="blue-text text-darken-4" value="Sonora">Sonora</option>
                <option class="blue-text text-darken-4" value="Tabasco">Tabasco</option>
                <option class="blue-text text-darken-4" value="Tamaulipas">Tamaulipas</option>
                <option class="blue-text text-darken-4" value="Tlaxcala">Tlaxcala</option>
                <option class="blue-text text-darken-4" value="Veracruz de Ignacio de la Llave">Veracruz</option>
                <option class="blue-text text-darken-4" value="Yucatán">Yucatan</option>
                <option class="blue-text text-darken-4" value="Zacatecas">Zacatecas</option>
              </select>
              <label>Estado origen*</label>
              <p class="red-text text-darken-4" *ngIf="origin_state.errors?.required&&origin_state.touched">
                *Este campo es requerido.
              </p>
            </div>

            <div *ngIf="this.responseCPOrigin.colonies.length > 0" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="origin_city" name="origin_city" type="text" placeholder="{{this.responseCPOrigin.municipality}}" value="{{this.responseCPOrigin.municipality}}" [ngModel]="this.responseCPOrigin.municipality" #origin_city="ngModel">
              <label for="origin_city">Municipio origen</label>
            </div>

            <div *ngIf="this.noCPOrigin" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input id="origin_city" name="origin_city" type="text" ngModel #origin_city="ngModel">
              <label for="origin_city">Municipio origen</label>
            </div>

            <div *ngIf="this.responseCPOrigin.colonies.length > 0" class="input-field col s12 m12 l12" [ngClass]="{'has-danger': colonyOrigin.errors?.required && colonyOrigin.touched}">
              <select (change)="onChange($event.target.value)" materialize="material_select" [materializeSelectOptions]="options" name="colonyOrigin" ngModel required #colonyOrigin="ngModel">
                <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
                <option class="blue-text text-darken-4" value="{{item}}" *ngFor="let item of this.responseCPOrigin.colonies">{{item}}</option>
                <option class="blue-text text-darken-4" value="otro">Otro</option>
              </select>
              <label>Colonia origen</label>
              <p class="red-text text-darken-4" *ngIf="colonyOrigin.errors?.required&&colonyOrigin.touched">
                *Este campo es requerido.
              </p>
            </div>

            <div *ngIf="this.noCPOrigin" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input id="colonyOrigin" name="colonyOrigin" type="text" ngModel #colonyOrigin="ngModel">
              <label for="colonyOrigin">Colonia origen</label>
            </div>

            <div *ngIf="this.anotherColonyOrigin" class="input-field col s12 m12 l12" [ngClass]="{'has-danger': anotherColOrigin.errors?.required && anotherColOrigin.touched}">
              <input id="anotherColOrigin" name="anotherColOrigin" type="text" min="0" ngModel #anotherColOrigin="ngModel" class="validate" required>
              <label for="anotherColOrigin">Otra colonia</label>
              <p class="red-text text-darken-4" *ngIf="anotherColOrigin.errors?.required&&anotherColOrigin.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="anotherColOrigin.errors?.minlength&&anotherColOrigin.touched">
                Por lo menos escriba {{anotherColOrigin.errors.minlength.requiredLength}} digito.
              </p>
            </div>
          </div>

        </div>

        <div class="col s12 m6 l6">
          <div *ngIf="!this.selectedClientInfo">
            <p class="red-text text-darken-4" *ngIf="this.noCP">
              Ese código postal no esta en nuestra base de datos, si desea continuar llene el resto de campos
            </p>
            <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': postal_code_dest.errors?.required && postal_code_dest.touched}">
              <i class="material-icons prefix">local_post_office</i>
              <input (click)="setArrayEmptyDest()"  (blur)="loseFocusDest($event.target.value)" (change)="checkDestCP($event.target.value)" id="postal_code_dest" name="postal_code_dest" type="number" ngModel #postal_code_dest="ngModel" class="validate" maxlength="8" required>
              <label for="postal_code_dest">C.P. Destino</label>
              <p class="red-text text-darken-4" *ngIf="postal_code_dest.errors?.required&&postal_code_dest.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="postal_code_dest.errors?.minlength&&postal_code_dest.touched">
                Por lo menos escriba {{postal_code_dest.errors.minlength.requiredLength}} caracteres.
              </p>
            </div>

            <div *ngIf="this.responseCP.colonies.length > 0" class="input-field col s12 m6 l6">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="dest_state" name="dest_state" type="text" placeholder="{{this.responseCP.state}}" value="{{this.responseCP.state}}" [ngModel]="this.responseCP.state" #dest_state="ngModel">
              <label for="dest_state">Estado destino</label>
            </div>

            <div *ngIf="this.noCP" class="input-field col s12 m6 l6" [ngClass]="{'has-danger': dest_state.errors?.required && dest_state.touched}">
              <select materialize="material_select" [materializeSelectOptions]="options" name="dest_state" ngModel required #dest_state="ngModel">
                <option class="blue-text text-darken-4" value="" disabled selected>Seleccione uno</option>
                <option class="blue-text text-darken-4" value="Aguascalientes">Aguascalientes</option>
                <option class="blue-text text-darken-4" value="Baja California">Baja California Norte</option>
                <option class="blue-text text-darken-4" value="Baja California Sur">Baja California Sur</option>
                <option class="blue-text text-darken-4" value="Campeche">Campeche</option>
                <option class="blue-text text-darken-4" value="Chiapas">Chiapas</option>
                <option class="blue-text text-darken-4" value="Chihuahua">Chihuahua</option>
                <option class="blue-text text-darken-4" value="Coahuila de Zaragoza">Coahuila</option>
                <option class="blue-text text-darken-4" value="Colima">Colima</option>
                <option class="blue-text text-darken-4" value="Ciudad de México">Ciudad de México</option>
                <option class="blue-text text-darken-4" value="Durango">Durango</option>
                <option class="blue-text text-darken-4" value="Guanajuato">Guanajuato</option>
                <option class="blue-text text-darken-4" value="Guerrero">Guerrero</option>
                <option class="blue-text text-darken-4" value="Hidalgo">Hidalgo</option>
                <option class="blue-text text-darken-4" value="Jalisco">Jalisco</option>
                <option class="blue-text text-darken-4" value="México">Mexico</option>
                <option class="blue-text text-darken-4" value="Michoacán de Ocampo">Michoacán</option>
                <option class="blue-text text-darken-4" value="Morelos">Morelos</option>
                <option class="blue-text text-darken-4" value="Nayarit">Nayarit</option>
                <option class="blue-text text-darken-4" value="Nuevo León">Nuevo Leon</option>
                <option class="blue-text text-darken-4" value="Oaxaca">Oaxaca</option>
                <option class="blue-text text-darken-4" value="Puebla">Puebla</option>
                <option class="blue-text text-darken-4" value="Querétaro">Queretaro</option>
                <option class="blue-text text-darken-4" value="Quintana Roo">Quintana Roo</option>
                <option class="blue-text text-darken-4" value="San Luis Potosí">San Luis Potosi</option>
                <option class="blue-text text-darken-4" value="Sinaloa">Sinaloa</option>
                <option class="blue-text text-darken-4" value="Sonora">Sonora</option>
                <option class="blue-text text-darken-4" value="Tabasco">Tabasco</option>
                <option class="blue-text text-darken-4" value="Tamaulipas">Tamaulipas</option>
                <option class="blue-text text-darken-4" value="Tlaxcala">Tlaxcala</option>
                <option class="blue-text text-darken-4" value="Veracruz de Ignacio de la Llave">Veracruz</option>
                <option class="blue-text text-darken-4" value="Yucatán">Yucatan</option>
                <option class="blue-text text-darken-4" value="Zacatecas">Zacatecas</option>
              </select>
              <label>Estado destino*</label>
              <p class="red-text text-darken-4" *ngIf="dest_state.errors?.required&&dest_state.touched">
                *Este campo es requerido.
              </p>
            </div>

            <div *ngIf="this.responseCP.colonies.length > 0" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="dest_city" name="dest_city" type="text" placeholder="{{this.responseCP.municipality}}" value="{{this.responseCP.municipality}}" [ngModel]="this.responseCP.municipality" #dest_city="ngModel">
              <label for="dest_city">Municipio destino</label>
            </div>

            <div *ngIf="this.noCP" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input id="dest_city" name="dest_city" type="text" ngModel #dest_city="ngModel">
              <label for="dest_city">Municipio destino</label>
            </div>

            <div *ngIf="this.responseCP.colonies.length > 0" class="input-field col s12 m12 l12" [ngClass]="{'has-danger': colonyDest.errors?.required && colonyDest.touched}">
              <select (change)="onChange($event.target.value)" materialize="material_select" [materializeSelectOptions]="options" name="colonyDest" ngModel required #colonyDest="ngModel">
                <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
                <option class="blue-text text-darken-4" value="{{item}}" *ngFor="let item of this.responseCP.colonies">{{item}}</option>
                <option class="blue-text text-darken-4" value="otro">Otro</option>
              </select>
              <label>Colonia destino</label>
              <p class="red-text text-darken-4" *ngIf="colonyDest.errors?.required&&colonyDest.touched">
                *Este campo es requerido.
              </p>
            </div>

            <div *ngIf="this.noCP" class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input id="colonyDest" name="colonyDest" type="text" ngModel #colonyDest="ngModel">
              <label for="dest_city">Colonia destino</label>
            </div>

            <div *ngIf="this.anotherColony" class="input-field col s12 m12 l12" [ngClass]="{'has-danger': anotherCol.errors?.required && anotherCol.touched}">
              <input id="anotherCol" name="anotherCol" type="text" min="0" ngModel #anotherCol="ngModel" class="validate" required>
              <label for="anotherCol">Otra colonia</label>
              <p class="red-text text-darken-4" *ngIf="anotherCol.errors?.required&&anotherCol.touched">
                *Este campo es requerido.
              </p>
              <p class="red-text text-darken-4" *ngIf="anotherCol.errors?.minlength&&anotherCol.touched">
                Por lo menos escriba {{anotherCol.errors.minlength.requiredLength}} digito.
              </p>
            </div>
          </div>

          <div *ngIf="this.selectedClientInfo" class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="dest_state" name="dest_state" type="text" placeholder="{{this.selectedClientInfo.state}}" value="{{this.selectedClientInfo.state}}" [ngModel]="this.selectedClientInfo.state" #dest_state="ngModel">
              <label class="active" for="dest_state">Estado destino</label>
            </div>

            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="postal_code_dest" name="postal_code_dest" type="text" placeholder="{{this.selectedClientInfo.zip}}" value="{{this.selectedClientInfo.zip}}" [ngModel]="this.selectedClientInfo.zip" #postal_code_dest="ngModel">
              <label class="active" for="postal_code_dest">CP destino</label>
            </div>

            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="dest_city" name="dest_city" type="text" placeholder="{{this.selectedClientInfo.city}}" value="{{this.selectedClientInfo.city}}" [ngModel]="this.selectedClientInfo.city" #dest_city="ngModel">
              <label class="active" for="dest_city">Municipio destino</label>
            </div>

            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">location_city</i>
              <input disabled id="colonyDest" name="colonyDest" type="text" placeholder="{{this.selectedClientInfo.colony}}" value="{{this.selectedClientInfo.colony}}" [ngModel]="this.selectedClientInfo.colony" #colonyDest="ngModel">
              <label class="active" for="colonyDest">Colonia destino</label>
            </div>
          </div>

        </div>

      </div>





      <h5 class="blue lighten-2">Tipo paquete</h5>

      <div class="row radio-buttons" [ngClass]="{'has-danger': kindPackage.errors?.required && kindPackage.touched}">
          <p class="col s6 m6 l6 ">
            <input class="with-gap" value="1" [ngModel]="1" #kindPackage="ngModel" name="kindPackage" type="radio" id="test1" required/>
            <label for="test1">Sobre</label>
          </p>
          <p class="col s6 m6 l6">
            <input class="with-gap" value="2" [ngModel]="2" #kindPackage="ngModel" name="kindPackage" type="radio" id="test2" required/>
            <label for="test2">Paquete</label>
          </p>
      </div>

      <h5 class="blue lighten-2">Tipo entrega</h5>

      <div class="row radio-buttons" [ngClass]="{'has-danger': dlvyType.errors?.required && dlvyType.touched}">
          <p class="col s6 m6 l6">
            <input class="with-gap" value="1" [ngModel]="1" #dlvyType="ngModel" name="dlvyType" type="radio" id="happens" required/>
            <label for="happens">Ocurre</label>
          </p>
          <p class="col s6 m6 l6 ">
            <input selected class="with-gap" value="2" [ngModel]="2" #dlvyType="ngModel" name="dlvyType" type="radio" id="domicile" required/>
            <label for="domicile">Domicilio</label>
          </p>
      </div>

      <h5 *ngIf="this.userMultiPack" class="blue lighten-2">Multipieza</h5>

      <div *ngIf="this.userMultiPack" class="row margin-bottom">
        <p class="col s10 m10 l10">
          <input (click)="activeMultiPack()" class="filled-in checkbox-blue" type="checkbox" id="multipack" />
          <label for="multipack">Activar multipieza</label>
        </p>
      </div>

      <div *ngIf="multiPackActive" class="row input-field col s12 m12 l12" [ngClass]="{'has-danger': quantityProd.errors?.required && quantityProd.touched}">
        <input (change)="quantityChange($event.target.value)" id="quantityProd" name="quantityProd" type="number" min="0" ngModel #quantityProd="ngModel" class="validate" required>
        <label for="quantityProd">Cantidad piezas</label>
        <p class="red-text text-darken-4" *ngIf="quantityProd.errors?.required&&quantityProd.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="quantityProd.errors?.minlength&&quantityProd.touched">
          Por lo menos escriba {{quantityProd.errors.minlength.requiredLength}} digito.
        </p>
      </div>

      <div *ngIf="objectCreateMultipieces.length > 0">
        <div *ngFor="let pack of objectCreateMultipieces, let i = index">
          <div class="row">
            <h5>Paquete {{i+1}}</h5>

            <div class="input-field col s6 m3 l3">
              <input [id]="pack.weight" [name]="pack.weight" type="number" min="0" class="validate" pattern=".{1,5}" required>
              <label for="weight">Peso (kg)</label>
            </div>

            <div class="input-field col s6 m3 l3">
              <input [id]="pack.length" [name]="pack.length" type="number" min="0" class="validate" pattern=".{1,6}" required>
              <label for="long">Largo (cm)</label>
            </div>

            <div class="input-field col s6 m3 l3">
              <input [id]="pack.width" [name]="pack.width" type="number" min="0" class="validate" pattern=".{1,6}" required>
              <label for="width">Ancho (cm)</label>
            </div>

            <div class="input-field col s6 m3 l3">
              <input [id]="pack.height" [name]="pack.height" type="number" min="0" class="validate" pattern=".{1,6}" required>
              <label for="hight">Alto (cm)</label>
            </div>
          </div>

          <div *ngIf="!this.noInsurance" class="row">
            <div class="input-field col s6 m3 l3">
              <input [id]="pack.insurance" [name]="pack.insurance" type="number" placeholder="0" value=0 min="0" class="validate" pattern=".{1,6}">
              <label class="active" for="insurance">Monto seguro</label>
            </div>
          </div>

        </div>


      </div>

      <div *ngIf="!multiPackActive">
        <h5 class="blue lighten-2">Características</h5>
        <div class="row">
          <div class="input-field col s6 m3 l3" [ngClass]="{'has-danger': weight.errors?.required && weight.touched}">
            <input id="weight" name="weight" type="number" min="0" ngModel #weight="ngModel" class="validate" pattern=".{1,5}" required>
            <label for="weight">Peso (kg)</label>
            <p class="red-text text-darken-4" *ngIf="weight.errors?.required&&weight.touched">
              *Este campo es requerido.
            </p>
            <p class="red-text text-darken-4" *ngIf="weight.errors?.minlength&&weight.touched">
              Por lo menos escriba {{weight.errors.minlength.requiredLength}} digito.
            </p>
          </div>

          <div class="input-field col s6 m3 l3" [ngClass]="{'has-danger': long.errors?.required && long.touched}">
            <input id="long" name="long" type="number" min="0" ngModel #long="ngModel" class="validate" pattern=".{1,6}" required>
            <label for="long">Largo (cm)</label>
            <p class="red-text text-darken-4" *ngIf="long.errors?.required&&long.touched">
              *Este campo es requerido.
            </p>
            <p class="red-text text-darken-4" *ngIf="long.errors?.minlength&&long.touched">
              Por lo menos escriba {{long.errors.minlength.requiredLength}} digitos.
            </p>
          </div>

          <div class="input-field col s6 m3 l3" [ngClass]="{'has-danger': width.errors?.required && width.touched}">
            <input id="width" name="width" type="number" min="0" ngModel #width="ngModel" class="validate" pattern=".{1,6}" required>
            <label for="width">Ancho (cm)</label>
            <p class="red-text text-darken-4" *ngIf="width.errors?.required&&width.touched">
              *Este campo es requerido.
            </p>
            <p class="red-text text-darken-4" *ngIf="width.errors?.minlength&&width.touched">
              Por lo menos escriba {{width.errors.minlength.requiredLength}} digitos.
            </p>
          </div>

          <div class="input-field col s6 m3 l3" [ngClass]="{'has-danger': hight.errors?.required && hight.touched}">
            <input id="hight" name="hight" type="number" min="0" ngModel #hight="ngModel" class="validate" pattern=".{1,6}" required>
            <label for="hight">Alto (cm)</label>
            <p class="red-text text-darken-4" *ngIf="hight.errors?.required&&hight.touched">
              *Este campo es requerido.
            </p>
            <p class="red-text text-darken-4" *ngIf="hight.errors?.minlength&&hight.touched">
              Por lo menos escriba {{hight.errors.minlength.requiredLength}} digitos.
            </p>
          </div>
        </div>

        <div *ngIf="!this.noInsurance" class="row">
          <div class="col offset-m3 m3 s4 offset-l3 l3">
            <p>
              <input (click)="checkSeguro()" class="filled-in checkbox-blue" type="checkbox" id="seguro" />
              <label class="label-checkbox" for="seguro">Habilitar seguro</label>
            </p>
          </div>
          <div *ngIf="this.seguro" class="input-field col s8 m3 l3" [ngClass]="{'has-danger': insurance.errors?.required && insurance.touched}">
            <input id="insurance" name="insurance" type="number" min="0" ngModel #insurance="ngModel" class="validate" pattern=".{1,6}" required>
            <label for="insurance">Monto seguro</label>
            <p class="red-text text-darken-4" *ngIf="insurance.errors?.required&&insurance.touched">
              *Este campo es requerido.
            </p>
            <p class="red-text text-darken-4" *ngIf="insurance.errors?.minlength&&insurance.touched">
              Por lo menos escriba {{insurance.errors.minlength.requiredLength}} digitos.
            </p>
          </div>
        </div>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidForm">
        <p class="red-text text-darken-4">
          Error en el formulario falta llenar alguno de los campos.
        </p>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidNumber">
        <p class="red-text text-darken-4">
          Error en el formulario, los números deben ser positivos.
        </p>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidPC">
        <p class="red-text text-darken-4">
          Error en el formulario, los códigos postales deben ser mínimo de 5 dígitos.
        </p>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="this.noLoad">
        <p class="red-text text-darken-4">
          La petición no se concreto correctamente, vuelva a intentarlo.
        </p>
      </div>

      <div class="row center-align">
        <button [disabled]="loading" class="btn offset-s4 s4 waves-effect blue accent-3">Cotizar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div id ="preloaderRate" class="progress" style="display: none;">
        <div class="indeterminate"></div>
    </div>
    </form>
  </div>
