<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row container">
    <form name="form" (ngSubmit)="addQuotation(forma)" #forma="ngForm" novalidate class="col s12 m12 l12 blue lighten-5">
      <h5 class="blue lighten-2 s12 m12 l12">Recorrido</h5>

      <div class="row">
        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': origin_city.errors?.required && origin_city.touched}">
          <i class="material-icons prefix">location_city</i>
          <input id="origin_city" name="origin_city" ngControl="origin_city" type="text" placeholder="{{this.createGuideService.userActual.city}}" value="{{this.createGuideService.userActual.city}}" [ngModel]="this.createGuideService.userActual.city" #origin_city="ngModel" class="validate" minlength="5" required>
          <label class="active" for="origin_city">Ciudad origen</label>
          <p class="red-text text-darken-4" *ngIf="origin_city.errors?.required&&origin_city.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="origin_city.errors?.minlength&&origin_city.touched">
            Por lo menos escriba {{origin_city.errors.minlength.requiredLength}} caracteres.
          </p>
        </div>


        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': postal_code_origin.errors?.required && postal_code_origin.touched}">
          <i class="material-icons prefix">local_post_office</i>
          <input id="postal_code_origin" name="postal_code_origin" type="number" min="0" placeholder="{{this.createGuideService.userActual.zip}}" value="{{this.createGuideService.userActual.zip}}" [ngModel]="this.createGuideService.userActual.zip" #postal_code_origin="ngModel" class="validate" pattern=".{5,}" required>
          <label class="active" for="postal_code_origin">C.P. Origen</label>
          <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.required&&postal_code_origin.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="postal_code_origin.errors?.minlength&&postal_code_origin.touched">
            Por lo menos escriba {{postal_code_origin.errors.minlength.requiredLength}} caracteres.
          </p>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': dest_city.errors?.required && dest_city.touched}">
          <i class="material-icons prefix">location_city</i>
          <input id="dest_city" name="dest_city" type="text" ngModel #dest_city="ngModel" class="validate" minlength="6" required>
          <label for="dest_city">Ciudad destino</label>
          <p class="red-text text-darken-4" *ngIf="dest_city.errors?.required&&dest_city.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="dest_city.errors?.minlength&&dest_city.touched">
            Por lo menos escriba {{dest_city.errors.minlength.requiredLength}} caracteres.
          </p>
        </div>

        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': postal_code_dest.errors?.required && postal_code_dest.touched}">
          <i class="material-icons prefix">local_post_office</i>
          <input id="postal_code_dest" name="postal_code_dest" type="number" min="0" ngModel #postal_code_dest="ngModel" class="validate" pattern=".{5,}" maxlength="8" required>
          <label for="postal_code_dest">C.P. Destino</label>
          <p class="red-text text-darken-4" *ngIf="postal_code_dest.errors?.required&&postal_code_dest.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="postal_code_dest.errors?.minlength&&postal_code_dest.touched">
            Por lo menos escriba {{postal_code_dest.errors.minlength.requiredLength}} caracteres.
          </p>
        </div>
      </div>

      <h5 class="blue lighten-2">Tipo</h5>

      <div class="row radio-buttons" [ngClass]="{'has-danger': kindPackage.errors?.required && kindPackage.touched}">
          <p class="col s6 m6 l6 ">
            <input class="with-gap" value="1" ngModel #kindPackage="ngModel" name="kindPackage" type="radio" id="test1" />
            <label for="test1">Sobre</label>
          </p>
          <p class="col s6 m6 l6">
            <input class="with-gap" value="2" ngModel #kindPackage="ngModel" name="kindPackage" type="radio" id="test2" />
            <label for="test2">Paquete</label>
          </p>
      </div>

      <h5 class="blue lighten-2">Características</h5>

      <div class="row">
        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': weight.errors?.required && weight.touched}">
          <input id="weight" name="weight" type="number" min="0" ngModel #weight="ngModel" class="validate" pattern=".{1,5}" required>
          <label for="weight">Peso (kg)</label>
          <p class="red-text text-darken-4" *ngIf="weight.errors?.required&&weight.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="weight.errors?.minlength&&weight.touched">
            Por lo menos escriba {{weight.errors.minlength.requiredLength}} digito.
          </p>
        </div>

        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': long.errors?.required && long.touched}">
          <input id="long" name="long" type="number" min="0" ngModel #long="ngModel" class="validate" pattern=".{1,6}" required>
          <label for="long">Largo (cm)</label>
          <p class="red-text text-darken-4" *ngIf="long.errors?.required&&long.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="long.errors?.minlength&&long.touched">
            Por lo menos escriba {{long.errors.minlength.requiredLength}} digitos.
          </p>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': width.errors?.required && width.touched}">
          <input id="width" name="width" type="number" min="0" ngModel #width="ngModel" class="validate" pattern=".{1,6}" required>
          <label for="width">Ancho (cm)</label>
          <p class="red-text text-darken-4" *ngIf="width.errors?.required&&width.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="width.errors?.minlength&&width.touched">
            Por lo menos escriba {{width.errors.minlength.requiredLength}} digitos.
          </p>
        </div>

        <div class="input-field col s12 m6 l6" [ngClass]="{'has-danger': hight.errors?.required && hight.touched}">
          <input id="hight" name="hight" type="number" min="0" ngModel #hight="ngModel" class="validate" pattern=".{1,6}" required>
          <label for="hight">Alto (cm)</label>
          <p class="red-text text-darken-4" *ngIf="hight.errors?.required&&hight.touched">
            *Este campo es requerido.
          </p>
          <p class="red-text text-darken-4" *ngIf="hight.errors?.minlength&&hight.touched">
            Por lo menos escriba {{hight.errors.minlength.requiredLength}} digitos.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col offset-m2 m4 s4 offset-l2 l4">
          <p>
            <input (click)="checkSeguro()" class="filled-in checkbox-blue" type="checkbox" id="seguro" />
            <label class="label-checkbox" for="seguro">Habilitar seguro</label>
          </p>
        </div>
        <div *ngIf="this.seguro" class="input-field col s8 m4 l4" [ngClass]="{'has-danger': insurance.errors?.required && insurance.touched}">
          <input id="insurance" name="insurance" type="number" min="0" ngModel #insurance="ngModel" class="validate" pattern=".{1,6}">
          <label for="insurance">Monto seguro</label>
        </div>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidForm">
        <p class="red-text text-darken-4">
          Error en el formulario falta llenar alguno de los campos.
        </p>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidNumber">
        <p class="red-text text-darken-4">
          Error en el formulario, los números deben ser positivos.
        </p>
      </div>

      <div class="col offset-s1 s12 offset-m1 m12 offset-l1 l12" *ngIf="invalidPC">
        <p class="red-text text-darken-4">
          Error en el formulario, los códigos postales deben ser mínimo de 5 dígitos.
        </p>
      </div>

      <div class="row center-align">
        <button [disabled]="loading" class="btn offset-s4 s4 waves-effect blue accent-3">Cotizar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div id ="preloaderRate" class="progress" style="display: none;">
        <div class="indeterminate"></div>
    </div>
    </form>
  </div>
