<div class="grey container">
  <div class="row">
    <div class="col s4 l4 m4">
      <img class="circle responsive-img" src="../../assets/estafeta-logo.png">
    </div>
    <div class="col s4 l4 m4">
      <img class="circle responsive-img" src="../../assets/Logo-FedEx.png">
    </div>
    <div class="col s4 l4 m4">
      <img class="circle responsive-img" src="../../assets/redpac-logo.png">
    </div>
    <div class="col s4 l4 m4">
      <img class="circle responsive-img" src="../../assets/dhl-logo.png">
    </div>
    <div class="col s4 l4 m4">
      <img class="circle responsive-img" src="../../assets/paqueteExpress.png">
    </div>
  </div>
</div>
