
<div materialize="carousel" class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <h2 class="white-text">Header</h2>
      <p class="white-text">This is your Slideshow text</p>
        <a class="btn waves-effect white grey-text darken-text-2">Cotiza</a>
      </div>
      <!--<a class="carousel-item"><img src="../../../assets/traveling.jpg" class="img-carousel"></a>-->
      <a class="carousel-item"><img src="../../../assets/traveling2.jpg" class="img-carousel"></a>
      <a class="carousel-item"><img src="../../../assets/traveling3.jpg" class="img-carousel"></a>
      <!--<a class="carousel-item"><img src="../../../assets/traveling4.jpg" class="img-carousel"></a>-->
</div>


<!--<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="/assets/traveling2.jpg" class="img-parallax"></div>
</div>-->
<div class="section white">
  <div class="row container">
    <h2 class="header">Misión</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Nuestra empresa busca satisfacer a nuestros usuarios buscando entregar a tiempo y en forma cada uno de sus paquetes
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="../../../assets/traveling6.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Visión</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Nuestra empresa busca satisfacer a nuestros usuarios buscando entregar a tiempo y en forma cada uno de sus paquetes
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="../../../assets/apilatedboxes.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Paquetería y servicios</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Nuestra empresa busca satisfacer a nuestros usuarios buscando entregar a tiempo y en forma cada uno de sus paquetes
    </p>
    <div class="col s12 m12 l12">
      <div class="row">
          <div class="col s12 m6 l6">
            <div class="card sticky-action small">
              <div class="card-image">
                <img class="activator" src="/assets/dhl-logo.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">DHL<i class="material-icons right">visibility</i></span>
                <p class="activator">Ofrecemos los siguientes servicios por la paquetería DHL. Haga click para más información</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">DHL<i class="material-icons right">close</i></span>
                <p>Envíos express.</p>
              </div>
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card sticky-action small">
              <div class="card-image">
                <img class="activator" src="/assets/estafeta-logo.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Estafeta<i class="material-icons right">visibility</i></span>
                <p class="activator">Ofrecemos los siguientes servicios por la paquetería Estafeta. Haga click para más información</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Estafeta<i class="material-icons right">close</i></span>
                <p>Envíos express.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col s12 m6 l6">
            <div class="card sticky-action small">
              <div class="card-image">
                <img class="activator" src="/assets/Logo-FedEx.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">FedEx<i class="material-icons right">visibility</i></span>
                <p class="activator">Ofrecemos los siguientes servicios por la paquetería FedEx. Haga click para más información</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">FedEx<i class="material-icons right">close</i></span>
                <p>Envíos express.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card sticky-action small">
              <div class="card-image">
                <img class="activator" src="/assets/redpac-logo.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Redpack<i class="material-icons right">visibility</i></span>
                <p class="activator">Ofrecemos los siguientes servicios por la paquetería Redpack. Haga click para más información</p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Redpack<i class="material-icons right">close</i></span>
                <p>Envíos express.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="../../../assets/traveling7.jpg"></div>
</div>
