<div class="row  main">
  <form name="form" (ngSubmit)="createGuide(forma)" #forma="ngForm" novalidate class="col s12 offset-m2 offset-l2 m8 l8 blue lighten-5">
    <h3 class="s12 m12 l12">Creando guía</h3>
    <div class="row">

      <h4>Datos del remitente</h4>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="originCompany" name="originCompany" ngModel #originCompany="ngModel" type="text" class="validate" #originCompany>
        <label for="originCompany">Compañia de origen</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input disabled id="originCountry" name="originCountry" placeholder="{{this.client.country}}" value="{{this.client.country}}" [ngModel]="this.client.country" #originCountry="ngModel" type="text" class="validate" #originCountry>
        <label class="active" for="originCountry">País de origen</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': originState.errors?.required && originState.touched}">
        <select materialize="material_select" [materializeSelectOptions]="options" name="originState" ngModel required #originState="ngModel">
          <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
          <option class="blue-text text-darken-4" value="Aguascalientes">Aguascalientes</option>
          <option class="blue-text text-darken-4" value="Baja California Norte">Baja California Norte</option>
          <option class="blue-text text-darken-4" value="Baja California Sur">Baja California Sur</option>
          <option class="blue-text text-darken-4" value="Campeche">Campeche</option>
          <option class="blue-text text-darken-4" value="Chiapas">Chiapas</option>
          <option class="blue-text text-darken-4" value="Chihuahua">Chihuahua</option>
          <option class="blue-text text-darken-4" value="Coahuila">Coahuila</option>
          <option class="blue-text text-darken-4" value="Colima">Colima</option>
          <option class="blue-text text-darken-4" value="Distrito Federal">Distrito Federal</option>
          <option class="blue-text text-darken-4" value="Durango">Durango</option>
          <option class="blue-text text-darken-4" value="Guanajuato">Guanajuato</option>
          <option class="blue-text text-darken-4" value="Guerrero">Guerrero</option>
          <option class="blue-text text-darken-4" value="Hidalgo">Hidalgo</option>
          <option class="blue-text text-darken-4" value="Jalisco">Jalisco</option>
          <option class="blue-text text-darken-4" value="Mexico">Mexico</option>
          <option class="blue-text text-darken-4" value="Michoacán">Michoacán</option>
          <option class="blue-text text-darken-4" value="Morelos">Morelos</option>
          <option class="blue-text text-darken-4" value="Nayarit">Nayarit</option>
          <option class="blue-text text-darken-4" value="Nuevo Leon">Nuevo Leon</option>
          <option class="blue-text text-darken-4" value="Oaxaca">Oaxaca</option>
          <option class="blue-text text-darken-4" value="Puebla">Puebla</option>
          <option class="blue-text text-darken-4" value="Queretaro">Queretaro</option>
          <option class="blue-text text-darken-4" value="Quintana Roo">Quintana Roo</option>
          <option class="blue-text text-darken-4" value="San Luis Potosi">San Luis Potosi</option>
          <option class="blue-text text-darken-4" value="Sinaloa">Sinaloa</option>
          <option class="blue-text text-darken-4" value="Sonora">Sonora</option>
          <option class="blue-text text-darken-4" value="Tabasco">Tabasco</option>
          <option class="blue-text text-darken-4" value="Tamaulipas">Tamaulipas</option>
          <option class="blue-text text-darken-4" value="Tlaxcala">Tlaxcala</option>
          <option class="blue-text text-darken-4" value="Veracruz">Veracruz</option>
          <option class="blue-text text-darken-4" value="Yucatan">Yucatan</option>
          <option class="blue-text text-darken-4" value="Zacatecas">Zacatecas</option>
        </select>
        <label>Estado de la república</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="originCity" name="originCity" placeholder="{{this.city}}" value="{{this.city}}" [ngModel]="this.city" #originCity="ngModel" type="text" class="validate" #originCity>
        <label class="active" for="originCity">Ciudad de origen</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': originColony.errors?.required && originColony.touched}">
        <input id="originColony" name="originColony" placeholder="{{this.client.colony}}" value="{{this.client.colony}}" [ngModel]="this.client.colony" #originColony="ngModel" type="text" class="validate" minlength="3" #originColony required>
        <label class="active" for="originColony">Colonia de origen</label>
        <p class="red-text text-darken-4" *ngIf="originColony.errors?.required&&originColony.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="originColony.errors?.minlength&&originColony.touched">
          Por lo menos escriba {{originColony.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': originAddress.errors?.required && originAddress.touched}">
        <input id="originAddress" name="originAddress" placeholder="{{this.client.address}}" value="{{this.client.address}}" [ngModel]="this.client.address" #originAddress="ngModel" type="text" class="validate" minlength="3" #originAddress required>
        <label class="active" for="originAddress">Dirección de origen</label>
        <p class="red-text text-darken-4" *ngIf="originAddress.errors?.required&&originAddress.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="originAddress.errors?.minlength&&originAddress.touched">
          Por lo menos escriba {{originAddress.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="originAddress2" name="originAddress2" placeholder="{{this.client.address2}}" value="{{this.client.address2}}" [ngModel]="this.client.address2" #originAddress2="ngModel" type="text" class="validate" #originAddress2>
        <label class="active"for="originAddress2">Entre calles</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input disabled id="originZip" name="originZip" placeholder="{{this.zip}}" value="{{this.zip}}" [ngModel]="this.zip" #originZip="ngModel" type="text" class="validate" #originZip>
        <label class="active" for="originZip">Código postal de origen</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="originPhoneNumber" name="originPhoneNumber" placeholder="{{this.client.phoneNumber}}" value="{{this.client.phoneNumber}}" [ngModel]="this.client.phoneNumber" #originPhoneNumber="ngModel" type="text" class="validate" #originPhoneNumber>
        <label class="active" for="originPhoneNumber">Número de teléfono remitente</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input disabled id="originUserName" name="originUserName" placeholder="{{this.clientName}}" value="{{this.clientName}}" [ngModel]="this.clientName" #originUserName="ngModel" type="text" class="validate" #originUserName>
        <label class="active" for="originUserName">Nombre del cliente de origen</label>
      </div>

      <!-- ------------------------------------------------------------------------------------------------ -->

      <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <h4>Datos del destinatario</h4>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="destinyCompany" name="destinyCompany" ngModel #destinyCompany="ngModel" type="text" class="validate" #destinyCompany>
        <label for="destinyCompany">Compañia de destino</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': destinyCountry.errors?.required && destinyCountry.touched}">
        <select materialize="material_select" [materializeSelectOptions]="options" name="destinyCountry" ngModel required #destinyCountry="ngModel">
          <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
          <option class="blue-text text-darken-4" value="Mexico">México</option>
        </select>
        <label>País de destino</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': destinyState.errors?.required && destinyState.touched}">
        <select materialize="material_select" [materializeSelectOptions]="options" name="destinyState" ngModel required #destinyState="ngModel">
          <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
          <option class="blue-text text-darken-4" value="Aguascalientes">Aguascalientes</option>
          <option class="blue-text text-darken-4" value="Baja California Norte">Baja California Norte</option>
          <option class="blue-text text-darken-4" value="Baja California Sur">Baja California Sur</option>
          <option class="blue-text text-darken-4" value="Campeche">Campeche</option>
          <option class="blue-text text-darken-4" value="Chiapas">Chiapas</option>
          <option class="blue-text text-darken-4" value="Chihuahua">Chihuahua</option>
          <option class="blue-text text-darken-4" value="Coahuila">Coahuila</option>
          <option class="blue-text text-darken-4" value="Colima">Colima</option>
          <option class="blue-text text-darken-4" value="Distrito Federal">Distrito Federal</option>
          <option class="blue-text text-darken-4" value="Durango">Durango</option>
          <option class="blue-text text-darken-4" value="Guanajuato">Guanajuato</option>
          <option class="blue-text text-darken-4" value="Guerrero">Guerrero</option>
          <option class="blue-text text-darken-4" value="Hidalgo">Hidalgo</option>
          <option class="blue-text text-darken-4" value="Jalisco">Jalisco</option>
          <option class="blue-text text-darken-4" value="Mexico">Mexico</option>
          <option class="blue-text text-darken-4" value="Michoacán">Michoacán</option>
          <option class="blue-text text-darken-4" value="Morelos">Morelos</option>
          <option class="blue-text text-darken-4" value="Nayarit">Nayarit</option>
          <option class="blue-text text-darken-4" value="Nuevo Leon">Nuevo Leon</option>
          <option class="blue-text text-darken-4" value="Oaxaca">Oaxaca</option>
          <option class="blue-text text-darken-4" value="Puebla">Puebla</option>
          <option class="blue-text text-darken-4" value="Queretaro">Queretaro</option>
          <option class="blue-text text-darken-4" value="Quintana Roo">Quintana Roo</option>
          <option class="blue-text text-darken-4" value="San Luis Potosi">San Luis Potosi</option>
          <option class="blue-text text-darken-4" value="Sinaloa">Sinaloa</option>
          <option class="blue-text text-darken-4" value="Sonora">Sonora</option>
          <option class="blue-text text-darken-4" value="Tabasco">Tabasco</option>
          <option class="blue-text text-darken-4" value="Tamaulipas">Tamaulipas</option>
          <option class="blue-text text-darken-4" value="Tlaxcala">Tlaxcala</option>
          <option class="blue-text text-darken-4" value="Veracruz">Veracruz</option>
          <option class="blue-text text-darken-4" value="Yucatan">Yucatan</option>
          <option class="blue-text text-darken-4" value="Zacatecas">Zacatecas</option>
        </select>
        <label>Estado de la república</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="destinyCity" name="destinyCity" placeholder="{{this.destCity}}" value="{{this.destCity}}" [ngModel]="this.destCity" #destinyCity="ngModel" type="text" class="validate" #destinyCity>
        <label class="active" for="destinyCity">Ciudad de destino</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': destinyColony.errors?.required && destinyColony.touched}">
        <input id="destinyColony" name="destinyColony" ngModel #destinyColony="ngModel" type="text" class="validate" minlength="3" #destinyColony required>
        <label for="destinyColony">Colonia de destino</label>
        <p class="red-text text-darken-4" *ngIf="destinyColony.errors?.required&&destinyColony.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="destinyColony.errors?.minlength&&destinyColony.touched">
          Por lo menos escriba {{destinyColony.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div *ngIf="parcelId == 5" class="row radio-buttons" [ngClass]="{'has-danger': dlvyType.errors?.required && dlvyType.touched}">
          <h6>Tipo entrega</h6>
          <p class="col s6 m6 l6 ">
            <input class="with-gap" value="2" ngModel #dlvyType="ngModel" name="dlvyType" type="radio" id="test1" />
            <label for="test1">Domicilio</label>
          </p>
          <p class="col s6 m6 l6">
            <input class="with-gap" value="1" ngModel #dlvyType="ngModel" name="dlvyType" type="radio" id="test2" />
            <label for="test2">Ocurre</label>
          </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': destinyAddress.errors?.required && destinyAddress.touched}">
        <input id="destinyAddress" name="destinyAddress" ngModel #destinyAddress="ngModel" type="text" class="validate" minlength="3" #destinyAddress required>
        <label for="destinyAddress">Dirección de destino</label>
        <p class="red-text text-darken-4" *ngIf="destinyAddress.errors?.required&&destinyAddress.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="destinyAddress.errors?.minlength&&destinyAddress.touched">
          Por lo menos escriba {{destinyAddress.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': numberAddress.errors?.required && numberAddress.touched}">
        <input id="numberAddress" name="numberAddress" ngModel #numberAddress="ngModel" type="text" class="validate" minlength="3" #numberAddress required>
        <label for="numberAddress">Numero dirección</label>
        <p class="red-text text-darken-4" *ngIf="numberAddress.errors?.required&&numberAddress.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="numberAddress.errors?.minlength&&numberAddress.touched">
          Por lo menos escriba {{numberAddress.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="destinyAddress2" name="destinyAddress2" ngModel #destinyAddress2="ngModel" type="text" class="validate" #destinyAddress2>
        <label for="destinyAddress2">Entre calles</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input disabled id="destinyZip" name="destinyZip" placeholder="{{this.destZip}}" value="{{this.destZip}}" [ngModel]="this.destZip" #destinyZip="ngModel" type="text" class="validate" #destinyZip>
        <label for="destinyZip">Código postal de destino</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="destinyPhoneNumber" name="destinyPhoneNumber" ngModel #destinyPhoneNumber="ngModel" type="text" class="validate" #destinyPhoneNumber>
        <label for="destinyPhoneNumber">Número de teléfono destinatario</label>
      </div>

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10">
        <input id="destinyUserName" name="destinyUserName" ngModel #destinyUserName="ngModel" type="text" class="validate" #destinyUserName>
        <label for="destinyUserName">Nombre del cliente destinatario</label>
      </div>

      <!-- ---------------------------- Campos paquetexpress ------------------------- -->

      <div *ngIf="parcelId == 5" class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': packageContent.errors?.required && packageContent.touched}">
        <input id="packageContent" name="packageContent" ngModel #packageContent="ngModel" type="text" class="validate" minlength="3" #packageContent required>
        <label for="packageContent">Contenido del paquete</label>
        <p class="red-text text-darken-4" *ngIf="packageContent.errors?.required&&packageContent.touched">
          *Este campo es requerido.
        </p>
        <p class="red-text text-darken-4" *ngIf="packageContent.errors?.minlength&&packageContent.touched">
          Por lo menos escriba {{packageContent.errors.minlength.requiredLength}} caracteres.
        </p>
      </div>

      <div *ngIf="parcelId == 5 && packageType == 2" class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': shpCode.errors?.required && shpCode.touched}">
        <select materialize="material_select" [materializeSelectOptions]="options" name="shpCode" ngModel required #shpCode="ngModel">
          <option class="blue-text text-darken-4" value="" disabled selected>Elija una opción</option>
          <option class="blue-text text-darken-4" value="10">Tambor</option>
          <option class="blue-text text-darken-4" value="2">Caja</option>
          <option class="blue-text text-darken-4" value="3">Paquete</option>
          <option class="blue-text text-darken-4" value="4">Bolsa</option>
          <option class="blue-text text-darken-4" value="5">Pieza</option>
          <option class="blue-text text-darken-4" value="6">Cubeta</option>
          <option class="blue-text text-darken-4" value="7">Bidon</option>
          <option class="blue-text text-darken-4" value="8">Porron</option>
          <option class="blue-text text-darken-4" value="9">Galon</option>
          <option class="blue-text text-darken-4" value="12">Costal</option>
          <option class="blue-text text-darken-4" value="14">Palett</option>
          <option class="blue-text text-darken-4" value="15">Huacal</option>
          <option class="blue-text text-darken-4" value="16">Termo</option>
          <option class="blue-text text-darken-4" value="11">Tarima</option>
          <option class="blue-text text-darken-4" value="22">Reja Mede</option>
          <option class="blue-text text-darken-4" value="23">Saco</option>
          <option class="blue-text text-darken-4" value="24">Atado a</option>
          <option class="blue-text text-darken-4" value="25">Lote</option>
          <option class="blue-text text-darken-4" value="26">Rollos</option>
          <option class="blue-text text-darken-4" value="28">Caja a</option>
          <option class="blue-text text-darken-4" value="27">Bulto</option>
          <option class="blue-text text-darken-4" value="32">Huacal</option>
          <option class="blue-text text-darken-4" value="33">Sobre anexo</option>
          <option class="blue-text text-darken-4" value="42">Hielera</option>
          <option class="blue-text text-darken-4" value="50">Valija</option>
          <option class="blue-text text-darken-4" value="61">Embalaje PE MED</option>
          <option class="blue-text text-darken-4" value="62">Embalaje PE GDE</option>
          <option class="blue-text text-darken-4" value="63">Embalaje PE EXGDE</option>
          <option class="blue-text text-darken-4" value="60">Embalaje PE CH</option>
        </select>
        <label>Tipo de paquete</label>
      </div>



      <!-- ---------------------------- Termina campos paquetexpress ----------------------- -->

      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 center-align">
        <button [disabled]="loading" class="btn waves-effect  blue accent-3">Generar</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>


    </div>
  </form>
</div>
