<div *ngIf="clientService.isAuthenticated()">
  <app-navbar *ngIf="clientService.isAuthenticated()"></app-navbar>
</div>

<router-outlet></router-outlet>

<footer *ngIf="clientService.isAuthenticated()" class="page-footer footer-design">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contacto</h5>

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacto</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">Rio Nilo #3481</a></li>
          <li><a class="grey-text text-lighten-3">Jardines del Nilo</a></li>
          <li><a class="grey-text text-lighten-3">Movil: 33.1130.0430</a></li>
          <li><a class="grey-text text-lighten-3">Oficina: 1933.1370</a></li>
          <li><a class="grey-text text-lighten-3">embarqueahora@hotmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright.
    </div>
  </div>
  </footer>
