<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="row main">
  <form name="form" (ngSubmit)="selectClient(forma)" #forma="ngForm" novalidate class="col s10 offset-s1 offset-m2 offset-l2 m8 l8 blue lighten-5">
    <h5 class=" s8 m8 l8 offset-s2 offset-m2 offset-l2">Modificar cantidad de guías del cliente</h5>
    <div class="row">
      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" [ngClass]="{'has-danger': userData.errors?.required && userData.touched}">
        <i class="material-icons prefix">account_circle</i>
        <input id="userData" name="userData" ngModel #userData="ngModel" type="text" class="validate autocomplete" minlength="1" required>
        <label for="userData">Nombre del cliente</label>
        <p class="red-text text-darken-4" *ngIf="userData.errors?.required&&userData.touched">
          *Este campo es requerido.
        </p>
      </div>

      <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngIf="invalidForm">
        <p class="red-text text-darken-4">
          Error en el formulario falta llenar alguno de los campos.
        </p>
      </div>

      <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngIf="petitionError">
        <p class="red-text text-darken-4">
          Error! Los datos registrados son erróneos.
        </p>
      </div>

      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 center-align">
        <button [disabled]="loading" class="btn waves-effect  blue accent-3">Buscar cliente</button>
      </div>

    </div>
  </form>

  <form *ngIf="guidesUserFounded && this.guidesUser" name="form" (ngSubmit)="updateGuides(forma)" #forma="ngForm" novalidate class="col s10 offset-s1 offset-m2 offset-l2 m8 l8 blue lighten-5">
    <h5 class=" s8 m8 l8 offset-s2 offset-m2 offset-l2">Guías del cliente</h5>
    <div class="row">

      <div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngFor="let guide of this.guidesUser, let i = index">
        <input [id]="guide.parcelId" [name]="guide.parcelId" placeholder="{{guide.limitedGuidesNumber}}" value="{{guide.limitedGuidesNumber}}" type="number" class="validate" minlength="3" >
        <label *ngIf="guide.parcelId == 3" class="active" for="fedEx">Guias FedEx</label>
        <label *ngIf="guide.parcelId == 1" class="active" for="fedEx">Guias DHL</label>
        <label *ngIf="guide.parcelId == 2" class="active" for="fedEx">Guias RedPack</label>
        <label *ngIf="guide.parcelId == 4" class="active" for="fedEx">Guias Estafeta</label>
        <label *ngIf="guide.parcelId == 5" class="active" for="fedEx">Guías Paquetexpress</label>
      </div>

      <!--<div class="input-field col offset-s1 s10 offset-m1 m10 offset-l1 l10" *ngFor="let guide of this.otherGuides, let i = index">
        <input [id]="guide.parcelId" [name]="guide.parcelId" placeholder="{{guide.limitedGuidesNumber}}" value="{{guide.limitedGuidesNumber}}" type="number" class="validate" minlength="3" >
        <label *ngIf="guide.parcelId == 3" class="active" for="fedEx">Guias FedEx</label>
        <label *ngIf="guide.parcelId == 1" class="active" for="fedEx">Guias DHL</label>
        <label *ngIf="guide.parcelId == 2" class="active" for="fedEx">Guias RedPack</label>
        <label *ngIf="guide.parcelId == 4" class="active" for="fedEx">Guias Estafeta</label>
      </div>-->

      <div class="row col offset-s1 s10 offset-m1 m10 offset-l1 l10 center-align">
        <button [disabled]="loadingGuides" class="btn waves-effect  blue accent-3">Actualizar guías</button>
      </div>

    </div>
  </form>

</div>
